@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #918E85; */
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(16, 17, 17);
  padding: 10px 20px;
  padding-bottom: 0px;
  border-radius: 5px;
  /* background-color: #EAD2A8; */
}

.container2 {
  max-width: 75%;
  margin: 30px auto;
  overflow: auto;
  min-height: 2000px;
  border: 1px solid rgb(16, 17, 17);
  padding: 10px 20px;
  padding-bottom: 0px;
  border-radius: 5px;
  position: relative;
}

.container2 ul {
  list-style: none;
  font-size: 17px;
  float: center;
}

.h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-form {
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-prev {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  align-items: left;
  position: absolute;
  right: 846px;
  bottom: 10px;
}

.btn-next {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  align-items: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.btn:active {
  transform: scale(0.97);
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 75%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  align-items: center;
}

.input [type="date"]{
  width: 25%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 35px;
}

.form-control select {
  width: 75%;
  height: 30px;
  font-size: 17px;
  padding-left: 7px;
  margin-top: 5px;
}

.navb {
  background-color: #000;
  overflow: hidden;
  list-style: none;
}

.navb a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navb a:hover {
  background-color: #ddd;
  color: black;
}

.navb a:active {
  background-color: #04AA6D;
  color: white;
}